/* Home Page */
.home-container {
  background: linear-gradient(135deg, rgb(255, 240, 220), rgb(240, 187, 120));
  min-height: 100vh;
  padding: 50px;
  text-align: center;
}

.intro {
  color: #543A14;
  margin-bottom: 50px;
}

.intro h1 {
  font-size: 3rem;
  font-weight: bold;
}

.intro p {
  font-size: 1.2rem;
}

.get-started-btn {
  background: #543A14;
  color: #FFF0DC;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
}

.get-started-btn:hover {
  background: #2B1B0F;
}

/* Features Section */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.feature-box h3 {
  color: #543A14;
}

.feature-box p {
  color: #131010;
}
